.search-title {
    display: flex;
    justify-content: space-around;
}
.color {
    background-color: #FFBF69;
}

.add-schedule-component {
    top                   : 0;
    left                  : 50%;
    right                 : auto;
    bottom                : auto;
    marginRight           : -50%;
    transform             : translate(0%, -135%);


    background-color: #ffffff;

    border:0.03px solid rgb(173, 171, 171);
    border-radius: 30px;
    box-shadow: 20px 40px  50px rgb(83, 83, 83);

    padding: 20px 5px;
}


.calender-frame {
    height: 500px;
    overflow: scroll;
  }

.button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
    margin-top: 10px;
}

.query-input {
    margin-bottom: 20px;
}

input {
    border: 1px solid rgb(173, 171, 171);
    border-radius: 10px;
}